
.wrapper{
	background-color:#F5F5F5;
	/*height: 200px;*/
}

.wrapper form{


	padding-top: 30px;
}
.wrapper select{
	margin-left: 200px;
	padding: 4px 15px;
	border:1px solid #0076a3;
	font-size:14px;
	font-family: Arial;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;

	border-color: #eae6e6;
	padding: 9px;


}
#productsForPage{
	padding-right: 50px;
	padding-left: 150px;
}
.searchCategory{
	height: 38px;
	background-color: white;
	border-color: #ececeb;
}
.productdesc .button{
	border-radius: 5px;
	padding-right: 30px;
	padding-left: 30px;

}
.cartButton{
	padding-bottom: 40px;
}
.listButton .button{
	padding-right: 32px;
	padding-left: 32px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f1eb), to(#d3d4cf));
	background: -moz-linear-gradient(top,  #f0f1eb,  #d3d4cf);
	color: black;
}
.listButton .button:hover{
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e3), to(#d2d2d0));
	background: -moz-linear-gradient(top,  #e8e8e3,  #d2d2d0);
}
#select_quantity{
	padding-bottom: 30px;
}
.iconImage img{
	width: 150px;
}
.iconImage{
	width:40%;
	padding-left: 200px;
	padding-top: 30px;
	float: left;
}
.productInfo{
	width: 20%;
	float: right;
	padding-top: 40px;
	padding-right: 250px;
}
.productInfo p{
	padding: 5px;
}
.register{
	color:  #DD127B;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial;

}
.register:hover {
	color: #B9C710;
	background-color: transparent;
	text-decoration: none;
}
.register:active {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}
.signinRegister{

	margin-right: 120px;
	float:right;
	margin-top: 30px;
}
.textinput{
	margin: 0px;
	padding: 5px 15px;
	font-size:14px;
	font-family: Arial;
	border:1px solid #0076a3; border-right:0px; border-left:0px;


}
.logo{
	float: left;
	padding-top: 40px;
	padding-left: 30px;
}
.button {
	margin: 0px;
	padding: 5px 15px;
	font-size:14px;
	font-family: Arial;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#D6E240), to(#B9C710));
	background: -moz-linear-gradient(top,  #D6E240,  #B9C710);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-color: lightgrey;
	padding: 10px;


}
.button:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#A8B504), to(#9CA807));
	background: -moz-linear-gradient(top,  #A8B504,  #9CA807);
}
/* Fixes submit button height problem in Firefox */
.button::-moz-focus-inner {
	border: 0;
}

.clear{
	clear:both;
}
.registration{
	background: #F5F5F5;
}

.registration form{
	float: left;
	background-color:white;
	width: 300px;
	border: 1px solid green;
	border-radius: 5px;
	padding: 25px;
	margin-left: 500px;
	margin-top: 100px;
}
.registration input{
	width: 250px;
	height: 25px;
	border-radius: 5px;
	font-size: 14px;
}
.dropbtn {
	background-color: #F5F5F5;
	color: #DD127B;
	padding: 0px;
	margin-top: 0px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	padding-right: 15px;
}
.dropbtn:hover {


	color: #B9C710;
	text-decoration: none;
}


.dropdown {
	position: relative;
	display: inline-block;

	float: right;
	margin-right: 40px;
}

.dropdown span{
	font-size: 14px;
	color: #686A6B;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 3px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	color: #B9C710;
	text-decoration: underline;

}

.dropdown:hover .dropdown-content {
	display: block;

}

.dropdown:hover .dropbtn {

}
.category .dropdown{
	position: relative;
	display: inline-block;

	float: right;
	margin-right: 40px;

	margin-bottom: 10px;
}
.cart{
	float:right;

	margin-right: 30px;
	width: 95px;

}

.cart img {
	height: 53px;
}
.image{
	float: left;

}

#productImage {
	margin-right: 5%;
	margin-left: 35%;
	width: 50%;
}
#productImage2 {
	margin-right: 5%;
	margin-left: 35%;
	width: 50%;
}
.image p{
	margin-right: 5%;
	margin-left: 25%;
}
.category{
	margin-top: 30px;

	display: inline-block;

}

.greeting {
	position: absolute;
	top: -15px;
}
.categoryName {
	color:  #DD127B;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial;
}
.categoryName:hover {
	color: #D6E240;
	background-color: transparent;
	text-decoration: underline;

}

.some > .dropdown {
	margin-top: 30px;
}

.image a:hover .img2{
	display: block;
}

.image a:hover .img1{
	display: none;

}
.image .img2{
	display: none;

}
.image .img3{
	display: none;

}
.image .img1{
	display: block;

}
.backimg2 {
	height: 300px;
	margin-left: 100px;


}

.backimg1 {
	height: 300px;
	margin-left: 240px;

}

.bigproductImage #bigimg2{
display: none;
	width: 470px !important;
	height: 594px !important;
}
.bigproductImage #bigimg3{
	display: none;
	width: 470px !important;
	height: 594px !important;
}
.bigproductImage #bigimg1{

	width: 470px !important;
	height: 594px !important;
}
.quantity{
	display: inline-block;
	margin-right: 12px;
}
.bigproductImage{
	width: 35%;
	float: left;


	padding-left: 180px;
}
.productdesc{
	width:50%;
	float:right;
	padding-top: 70px;
}
.productName {
	font-size: 18px;
	height:50px;
}
.price{
	font-size: 20px;

}
.size .color .quantity{
	font-size: 16px;
}
.productdesc p{
	height:50px;
}
#littleImage1 {
	background-color: white;
	border: medium none;
	cursor: pointer;
}
#littleImage2 {
	background-color: white;
	border: medium none;
	cursor: pointer;
}
.productButtons{
	padding-left: 180px;
}
.img1{
	width:250px;

}
.img2{
	width:250px;

}
.image {
	float: left;
	padding-top: 40px;
	padding-left: 100px;

}
.textinput{
	border-color: #E8E8E8;
	padding: 10px;
	padding-left: 40px;

}
.size a{
	color: black;
	text-decoration: none;
	padding: 5px;
}
.size a:hover{
	color: #DD127B;


}
#gallery_01 img{border:2px solid white;}


.active img{border:2px solid #333 !important;}

#message{
	display: none;
}



.errorWrapper{
		background-color:#F5F5F5;
		padding: 100px;
	}

.errorWrapper h1{
	font-size: 100px;
	color: #D6E240;
	margin-left: 100px;
}
.errorWrapper p{
	font-size: 18px;
	margin-left: 100px;
}
.errorWrapper a{

	font-family: Arial;
	font-size: 13px;
	margin-left: 100px;

}

.errorWrapper a{
	color: #DD127B;
}
.errorWrapper a:hover {
    color: #D6E240;
    background-color: transparent;
    text-decoration: underline;
    }
.wrapper a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
.errorWrapper img{
	float:right;
	padding-right: 550px;
	padding-top: 20px;
}
#basketContent{
	width: 80%;
	float: left;
}
#checkout{
	padding-top: 30px;
}
#checkout .button{
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;

}
#checkoutForm input{
	width: 400px;
	height: 35px;
	border-radius: 5px;
	font-size: 14px;
}
#checkoutForm{
	padding-left: 200px;
	padding-top: 50px;

}
#saleDone{
	margin-top: 30px;
}
#checkoutForm select{
	margin-right: 30px;

}
.addressOption{
	margin-bottom: 30px;
	height: 35px;
	width: 400px;
}
.littleAnchor{
	margin-left: 30px;
	color: #DD127B;
}
.littleAnchor:hover{

	color: #B9C710;
}
#changePass{
	color: #DD127B;
}
#changePass:hover{
	color: #B9C710;
}
#orders table {
	width: 80%;
	margin-top: 20px;
}



#orders table th {
	padding: 4px;
	border: 1px solid lightgrey;
}

#orders table td {
	padding: 8px;
	border: 1px solid lightgrey;
	text-align: center;
	vertical-align: middle;

}
#orders{
	padding-left: 100px;
	padding-top: 50px;
}
.saleId{
	color: #DD127B;
}
.saleId:hover{
	color: #B9C710;
}
.saleInfo{
	padding-left: 200px;
	padding-top: 20px;
}


#infoi {
	position: relative;

}
#navi {
	position: absolute;
	z-index: 10;
	padding-left: 7px;
	padding-top: 9px;
	color: #756d6d;

}
#container{
	float: right;
}
.inline{
	display: inline-block;
}
.category a{
	margin-right: 50px;
	text-decoration: none;
	color: #DD127B;
}
.category a:hover{

	color: #B9C710;
}
#totalPrice{
	padding-left: 910px;
	display: inline-block;
	padding-top: 10px;
	color: red;
}
#searchResult{
	z-index: 1000;
	background-color: white;
	display: inline-block;
	width: 476px;
	position: absolute;
	top: 130px;
	right: 495px;

}
.some{
	margin-left: 50px;
}
.wrapper1 input[type=search] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}