
.wrapper{
	background-color:#F5F5F5;
	height: 200px;
}
.wrapper1{
	height:85%;
}
.wrapper form{


	padding-top: 30px;
}
.wrapper select{
	margin-left: 200px;
	padding: 4px 15px;
	border:1px solid #0076a3;
	font-size:14px;
	font-family: Arial;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	margin-bottom: 50px;

}

.register{
	color:  #DD127B;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial;

}
.register:hover {
	color: #D6E240;
	background-color: transparent;
	text-decoration: underline;
}
.register:active {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}
.signinRegister{

	margin-right: 120px;
	float:right;
}
.textinput{
	margin: 0px;
	padding: 5px 15px;
	font-size:14px;
	font-family: Arial;
	border:1px solid #0076a3; border-right:0px; border-left:0px;


}
.image{
	float: left;
	padding-top: 40px;
	padding-left: 30px;
}
.button {
	margin: 0px;
	padding: 5px 15px;
	font-size:14px;
	font-family: Arial;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#D6E240), to(#B9C710));
	background: -moz-linear-gradient(top,  #D6E240,  #B9C710);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.button:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#A8B504), to(#9CA807));
	background: -moz-linear-gradient(top,  #A8B504,  #9CA807);
}
/* Fixes submit button height problem in Firefox */
.button::-moz-focus-inner {
	border: 0;
}

.clear{
	clear:both;
}
.registration{
	background: #F5F5F5;
}

.registration form{
	float: left;
	background-color:white;
	width: 300px;
	border: 1px solid green;
	border-radius: 5px;
	padding: 25px;
	margin-left: 500px;
	margin-top: 100px;
}
.registration input{
	width: 250px;
	height: 25px;
	border-radius: 5px;
	font-size: 14px;
}
.dropbtn {
	background-color: #F5F5F5;
	color: #DD127B;
	padding: 0px;
	margin-top: 0px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;

	margin-left: 100px;
	float:left;
}
.dropdown span{
	font-size: 14px;
	color: #686A6B;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #F5F5F5;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {

}
.cart{
	float:right;

	margin-right: 60px;
	width: 95px;

}
.image{
	float: left;
}
.productImage {
	margin-right: 5%;
	margin-left: 35%;
	width: 50%;
}
.image p{
	margin-right: 5%;
	margin-left: 50%;
}
.category{

	margin-left: 300px;
	display: inline-block;

}
.categoryName {
	color:  #DD127B;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial;
}
.categoryName:hover {
	color: #D6E240;
	background-color: transparent;
	text-decoration: underline;

}
